body {
    background: #d2d2c1 url("imagens/fundo.jpg");
    font: 16px Arial, Helvetica, sans-serif;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

#principal {
    width: 1200px;
}

#menu {
    background: #c5c5b2;
    padding: 18px;
    text-align: center;
    border-radius: 10px;
}

#conteudo {
    background: #d1d1d1;
    padding: 10px;
    border-radius: 10px;
}
.img-campanha {
    border: 10px solid #c3c3ae;
}

a {
    color: #283752;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}
#rodape {
    text-align: center;
    padding-bottom: 10px;
}

h1 {
    font-size: 1.7em;
    text-align: center;
    background-image: linear-gradient(
        to top,
        rebeccapurple,
        steelblue,
        turquoise
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 1.2em;
    text-align: center;
    background-image: linear-gradient(
        to top,
        rebeccapurple,
        steelblue,
        turquoise
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
img {
    border-radius: 10px;
}
